.cabeçalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container{
    display: flex;
    align-items: center;
}
.container_imagem{
    padding: 1em;
}
.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}
.container__botao:checked~.lista-menu{
    display: block;
}
.lista-menu__titulo, 
.lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}
.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}
.lista-menu__link{
    background: var(--azul_degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}
.container__botao{
    display: none;
}
.container_titulo{
    display: none;
}
.opçoes{
    display: none;
}
.container_texto{
    display: none;
}
.container__botao:checked~.container_rotulo > .cabeçalho__menu-hamburguer{
    background-image: url("../img/Menu Aberto.png");
}
.container__botao:checked~.container_rotulo{
    background: var(--azul_degrade);
}

@media screen and (min-width: 1024px){
    .container_titulo, .container_titulo-negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }
    .container_titulo{
        font-weight: 400;
        display: block;
    }
    .container_titulo-negrito{
        font-weight: 700;
    }
    .opçoes{
        display: flex;
    }
    .opçoes_item{
        padding: 0 1em;
        text-transform: uppercase;
    }
    .opçoes_link{
        text-decoration: none;
        color: var(--preto);
    }
    .opçoes_botao:checked~ .opçoes_rotulo > .opçoes_item{
        background: var(--azul_degrade);
        color: var(--branco);
    }
    .opçoes_item{
        padding: 2em 1em;
    }
    .container_imagem-transparente{
        display: none;
    }
    .cabeçalho__menu-hamburguer{
        display: none;
    }
    .opçoes_botao:checked~.lista-menu{
        display: block;
        width: auto;
    }
    .opçoes_botao{
        display: none;
    }
    .lista-menu__item:hover{
        background: var(--azul_degrade);
    }
    .lista-menu__item:hover > .lista-menu__link{
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px){
    .container_link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }
    .cabeçalho{
        padding: 0 2em;
    }
    .opçoes{
        margin-right: auto;
    }
    .container_texto{
        display: block;
    }
}